# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex helper files
*.aux
*.log
*.nav
*.snm
*.synctex.gz
*.toc
*.vrb

# swp files from vim
*.swp
Labs/2024/03-functional/01-newton/main
Labs/2024/03-functional/01-newton/mainMuParser
Labs/2024/03-functional/01-newton/mainGetPot
Labs/2024/03-functional/01-newton/data.txt
